* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  list-style-type: none;
  font-family: "Roboto", sans-serif;
}

:root {
  --brownish-orange: #ab7442;
  --grayish-white: #f5f5f5;
  --dark-gray: #353535;
}

/* ---------------------------------------- */

/* Top Bar css */

.contact-nav {
  background-color: var(--grayish-white);
  padding: 15px;
}

.topbar-container {
  display: flex;
}

.top-left {
  display: flex;
  width: 50%;
  gap: 20px;
  align-items: center;
  margin-left: 32px;
}

.fa-location-dot {
  margin-right: 6px;
}

.fa-clock {
  margin-right: 6px;
}

.top-right {
  display: flex;
  width: 50%;
  justify-content: flex-end;
  gap: 20px;
  align-items: center;
}

.fa-phone {
  margin-right: 6px;
}

.social-links i {
  background-color: #fff;
  margin-left: 10px;
  padding: 5px 8px;
}

.social-links i:hover {
  background-color: var(--grayish-white);
}

/* NAV BAR CSS */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  height: 60px;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

.logo {
  margin-left: 50px;
}

.logo a {
  text-decoration: none;
  color: var(--brownish-orange);
}

.nav-links {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-links li a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}

.nav-links li a:hover {
  color: var(--brownish-orange);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 140px;
  z-index: 1;
}

.nav-links .fa-angle-down {
  vertical-align: middle;
  margin-left: 5px;
}

.dropdown:hover .dropdown-content {
  display: block;
  padding-top: 20px;
}

.dropdown-content li {
  padding: 5px 5px;
}

.dropdown-content li a {
  text-decoration: none;
}

.dropdown-content li:hover {
  color: var(--brownish-orange);
}

.quote {
  background-color: var(--brownish-orange);
  padding: 20px 60px;
}

.quote a {
  color: white !important;
}

.quote:hover {
  background-color: #b8895e;
  transition: 0.25s;
}

.quote .fa-arrow-right {
  padding-left: 10px;
}

/* main banner css */

.bg-image {
  background-image: linear-gradient(rgba(53, 53, 53, 0.7),
      rgba(53, 53, 53, 0.7)),
    url("../img/carousel-1.jpg");
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /* top: 60px;
    z-index: -1; */
}

.banner-content {
  color: white;
  position: absolute;
  left: 120px;
  top: 100px;
}

.banner-content h2 {
  font-size: 4rem;
  margin-bottom: 15px;
}

.banner-content a {
  text-decoration: none;
  color: #fff;
}

/* contact us section */

.contact-us {
  width: 100%;
  margin-top: 100px;
}

.contact-container {
  display: flex;
}

.contact-left {
  width: 50%;
  background-color: var(--grayish-white);
}

.contact-right {
  width: 50%;
}

.contact-content {
  width: 70%;
  margin-left: 22%;
  margin-top: 55px;
}

.contact-content h2 {
  font-size: 3rem;
  font-weight: 900;
  padding-bottom: 16px;
}

.contact-content p {
  font-size: 14px;
  font-weight: 400;
  color: #555555;
  padding-bottom: 16px;
}

.contact-content a {
  color: var(--brownish-orange);
}

.input-cu-box {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.input-cu-box {
  display: flex;
  margin-top: 10px;
}

form input,
form textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  border: none;
}

form input::placeholder,
form textarea::placeholder {
  font-size: 16px;
}

form input:nth-child(4) {
  font-size: 16px;
  background-color: var(--brownish-orange);
  color: white;
  border: 0;
  outline: 0;
}

.input-cu-box input:focus{
  color: #555;
  background-color: #fff;
  border-color: #d5baa1;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(171,116,66,0.25);
}

.form-container input:focus{
  color: #555;
  background-color: #fff;
  border-color: #d5baa1;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(171,116,66,0.25);
}

.form-container textarea:focus{
  color: #555;
  background-color: #fff;
  border-color: #d5baa1;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(171,116,66,0.25);
}


/* footer css */

.footer {
  background-color: #333;
  margin-top: 100px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 40px 0px;
  color: #fff;
}

.column {
  padding: 10px;
  width: 22%;
}

.column p {
  margin-bottom: 20px;
  font-size: 14px;
}

.column p i {
  margin-right: 10px;
}

.column h4 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.column ul {
  list-style: none;
  padding: 0;
}

.column li {
  margin-bottom: 10px;
}

.column li a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.column li a i {
  margin-right: 8px;
}

.column li a:hover {
  letter-spacing: 1px;
  color: var(--brownish-orange);
  transition: all 0.5s linear;
}

.icon {
  margin-right: 5px;
}

.input-box {
  display: flex;
  margin-top: 10px;
}

.input-box input {
  padding: 12px;
}

.input-box button {
  background-color: var(--brownish-orange);
  border: none;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
}

.social-media {
  display: flex;
}

.social-media i {
  border: 1px solid white;
  padding: 8px 8px;
}

.social-media i:hover {
  background-color: var(--brownish-orange);
}

.copyright {
  border-top: 1px solid rgba(256, 256, 256, .1);
  padding-bottom: 20px;
  width: 85%;
  margin: 0 auto;
}

.copyright-content {
  margin-top: 12px;
}

.copyright-content span {
  color: white;
  font-size: 12px;
}

.copyright-content span:nth-child(2n) {
  float: right;
}

.sticky-btn{
  position: relative;
  }
  
  .icon i{
    padding: 16px 20px;
    background-color: var(--brownish-orange);
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: white;
  }
  
  .icon i:hover{
    transition: all 0.5s linear;
    background-color: #b8895e;
  }