* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

.container {
  width: 100%;
}

.header {
  display: flex;
  height: 420px;
}

.image-left {
  background-image: url("./images/picture.jpg");
  background-size: cover;
  width: 35%;
}

.right-content {
  background-color: #d5d7d9;
  width: 65%;
}

.content {
    width: 80%;
    margin-top: 80px;
    margin-left: 30px;
}

.content h1 {
  font-size: 4rem;
  line-height: 60px;
}

.content ul li {
  margin-left: 20px;
  margin-top: 10px;
  padding: 2px;
  font-weight: 300;
}

.btn-submit {
  width: 15%;
  border: none;
  padding: 10px;
  margin-top: 20px;
  border-radius: 20px;
  background-color: #21486f;
  color: white;
  font-weight: 400;
  cursor: pointer;
}

.btn-submit:hover {
  background-color: grey;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
}

li::marker {
  content: "⪢";
  color: #21486f;
  font-size: 20px;
}

/* HEADLINE SECTION CSS */

.sub-section {
  background-color: #21486f;
  width: 100%;
  height: 550px;
}

.sub-section h2 {
  text-align: center;
  color: white;
  font-size: 2rem;
  padding-top: 52px;
}

.headline-container {
  width: 100%;
}

.headline-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 62%;
  margin: 0 auto;
  margin-top: 30px;
}

.card {
  background-color: #fff;
  width: 40%;
  margin: 20px;
  padding: 20px;
}

.base-style img {
  width: 15%;
}

.base-style h3 {
  letter-spacing: 2px;
}

.base-style p {
  font-size: 12px;
  padding-top: 15px;
  font-weight: 300;
}

/* CONTACT SECTION CSS */

.contact-section {
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
}

.contact-sec-content h4 {
  color: #fff;
  font-size: 4rem;
  font-weight: 300;
  text-align: center;
  padding-top: 25%;
}

.form-content {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  margin-top: 40px;
}

.form-content input[type="text"] {
  width: 40%;
  padding: 10px;
}

.form-content input[type="email"] {
  width: 40%;
  padding: 10px;
}

.form-content input[type="submit"] {
  width: 15%;
  padding: 10px;
  background-color: #21486f;
  color: white;
  border: none;
  font-weight: 100;
  cursor: pointer;
}

.form-content input[type="submit"]:hover {
  background-color: grey;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
}

.contact-container {
  width: 100%;
  margin-top: 50px;
}

.contact-box {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin: 0 auto;
}

.box {
  background-color: #21486f;
  width: 30%;
  padding: 30px;
}

.baseStyle img {
  width: 5%;
}

.baseStyle h5 {
  color: white;
  display: inline;
}

.baseStyle p {
  color: white;
  font-size: 14px;
  font-weight: 300;
  margin-top: 5px;
}

/* FOOTER CSS */

.footer {
  background-color: #333333;
  height: 100px;
}

.footer p {
  text-align: center;
  padding: 40px;
}
